* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.content {
  width: 100%;
  background-color: silver;
  padding: 25px 0;
}

.head {
     display: flex;
     width: 80%;
     margin: 0 auto;
     align-items: center;
     font-size: 20px
}

ul {
  margin-left: 300px
}


li {
  display: inline-block;
  margin-left: 40px;
  color: black
}

li:hover {
  color: #958f90
}

li.active {
 border-bottom: 3px solid black;

}


.img {
  height: 50px;
  width: 50px;
}

.img:hover {
  opacity: 50%
}

.main {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  color: red
}
